<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Demography Reconstruction - {{ title }}</title>
    {% else %}
        <title>Demography Reconstruction</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Demography Reconstruction</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About</a>
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('vote') }}">Vote</a>
              <a class="nav-item nav-link" href="{{ url_for('result') }}">Result</a>
              {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Demography result</h3>
              <p class='text-muted'>Currently we support the predictions of gender, age, and occupation</p>
              <ul class="list-group">
                {% if current_user.is_authenticated and current_user.ratings.count() > 4%}
                {% set age_dict = {1:  "Under 18", 18:  "18-24", 25:  "25-34", 35:  "35-44", 45:  "45-49", 50:  "50-55", 56:  "56+"} %}
                {% set demo = current_user.demographics[-1] %}
                <li class="list-group-item list-group-item-light">Gender</li>
                <li class="list-group-item list-group-item-light">
                    <div class="progress">
                      <div class="progress-bar bg-success" style="width:{{ demo.male }}%">
                        Male {{ demo.male }}%
                      </div>
                      <div class="progress-bar bg-info" style="width:{{ 100 - demo.male }}%">
                        Female {{ 100 - demo.male }}%
                      </div>
                    </div>
                </li>
                <li class="list-group-item list-group-item-light">Age</li>
                <li class="list-group-item list-group-item-light">
                    <div class="progress">
                      <div class="progress-bar bg-success" style="width:{{ demo.age1_p }}%">
                        <span class="text-dark justify-content-center position-absolute w-100"><strong>{{ age_dict[demo.age1] }} {{ demo.age1_p }}%</strong></span>
                      </div>
                    </div>
                    <div class="progress mt-2">
                      <div class="progress-bar bg-info" style="width:{{ demo.age2_p }}%">
                          <span class="text-dark justify-content-center position-absolute w-100"><strong>{{ age_dict[demo.age2] }} {{ demo.age2_p }}%</strong></span>
                      </div>
                    </div>

                </li>
                    {% set occup_dict = {0:  "other",
                    1:  "academic/educator",
                    2:  "artist",
                    3:  "clerical/admin",
                    4:  "college/grad student",
                    5:  "customer service",
                    6:  "doctor/health care",
                    7:  "executive/managerial",
                    8:  "farmer",
                    9:  "homemaker",
                    10:  "K-12 student",
                    11:  "lawyer",
                    12:  "programmer",
                    13:  "retired",
                    14:  "sales/marketing",
                    15:  "scientist",
                    16:  "self-employed",
                    17:  "technician/engineer",
                    18:  "tradesman/craftsman",
                    19:  "unemployed",
                    20:  "writer"}  %}
                <li class="list-group-item list-group-item-light">Occupation</li>
                <li class="list-group-item list-group-item-light">
                    <div class="progress">
                      <div class="progress-bar bg-success" style="width:{{ demo.occup1_p }}%">
                        <span class="text-dark justify-content-center position-absolute w-100"><strong>{{ occup_dict[demo.occup1] }} {{ demo.occup1_p }}%</strong></span>
                      </div>
                    </div>
                    <div class="progress mt-2">
                      <div class="progress-bar bg-info" style="width:{{ demo.occup2_p }}%">
                          <span class="text-dark justify-content-center position-absolute w-100"><strong>{{ occup_dict[demo.occup2] }} {{ demo.occup2_p }}%</strong></span>
                      </div>
                    </div>

                </li>
                  {% else %}
                    <li class="list-group-item list-group-item-light">Please rate at least 5 movies to get the prediction</li>
                  {% endif %}
              </ul>

          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>